@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --prim-color: 80, 163, 254;
  --secon-color: 179, 116, 248;
  --ter-color: 114, 250, 179;
  --accent-color: 44, 104, 208;
  --primary: 147, 56, 150;
  --secondary: 91, 64, 143;
  --tertiary: 65, 76, 148;
  --quaternary: 49, 101, 136;
  --quinary: 58, 125, 113;
  --primary-secon: 182, 67, 174;
  --secondary-secon: 176, 117, 248;
  --tertiary-secon: 123, 143, 252;
  --quaternary-secon: 92, 194, 228;
  --quinary-secon: 110, 240, 188;

  --primary-font: 4em;
  --secondary-font: 3em;
  --tertiary-font: 2em;
  --special-font: 1.5em;
  --quaternary-font: 1.25em;
  --quinary-font: 1em;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: white;
  background: radial-gradient(
    circle,
    rgba(2, 0, 36, 1) 0%,
    rgba(13, 17, 23, 1) 100%
  );
}

body::-webkit-scrollbar {
  width: 0px;
  margin: 0 0;
}

main {
  font-family: "Ysabeau", sans-serif !important;
  height: 100vh;
}

#particles-js {
  position: absolute;
  width: 100vw;
  height: 100vh;
  color: #fff;
}

@media (max-width: 768px) {
  #particles-js {
    display: none;
  }
}

.to-width {
  max-width: 55vw;
}

@media screen and (max-width: 1920px) {
  .to-width {
    max-width: 95vw;
  }
}

.to-height {
  height: 100vh;
}

.to-center {
  margin-left: auto;
  margin-right: auto;
}

.to-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.to-flex-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
}

.to-bold {
  font-weight: bolder !important;
}

.to-column {
  flex-direction: column;
  justify-content: center;
}

.to-aligh {
  align-items: center;
}

.color-effect {
  background: -webkit-linear-gradient(
    180deg,
    rgb(var(--quinary-secon)),
    rgb(var(--quaternary-secon)),
    rgb(var(--tertiary-secon)),
    rgb(var(--secondary-secon)),
    rgb(var(--primary-secon))
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.reflect {
  -webkit-box-reflect: below 0px
    linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25));
}

.reflect-v2 {
  -webkit-box-reflect: below -175px linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
}

.text-motion {
  background: -webkit-linear-gradient(
    45deg,
    rgba(182, 67, 174, 0.15),
    rgba(255, 255, 255),
    rgba(182, 67, 174, 0.15)
  );
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center;
  background-color: rgb(44, 104, 208);
  animation: text-motion 5s infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@keyframes text-motion {
  0% {
    background-position: -500%;
  }

  100% {
    background-position: 500%;
  }
}

section {
  min-height: 100vh;
}

/*---------------------------------------------------------------*/

.nav-main {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.75), transparent);
  position: absolute;
  width: 100%;
  z-index: 10;
}

.ct-logo {
  color: rgb(var(--quaternary-secon));
  font-size: 3.5rem;
  font-weight: 100;
}

.home-button {
  display: flex;
  background-color: rgb(var(--accent-color));
  justify-content: center;
  padding: 0.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  max-width: 10rem;
  border-radius: 5rem;
}

.home-button:active {
  transform: translateY(-3px);
  filter: saturate(150%);
}

.home-button-txt {
  font-weight: 400;
}

.home-specs {
  position: absolute;
  display: flex;
  align-items: center;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
  margin-top: -10rem;
}

/*---------------------------------------------------------------*/

.landing-container {
  background: radial-gradient(
      circle at bottom,
      transparent,
      rgb(9, 10, 29) 100%
    ),
    url(/images/bbblurry.svg), url(/images/50961571.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.sales-container {
  position: relative;
  z-index: 3;
}

.sales-container::before {
  content: "";
  position: absolute;
  top: 0;
  margin-top: -8rem;
  width: 100%;
  height: 300px;
  background: linear-gradient(
    to top,
    transparent,
    rgba(7, 19, 55, 1),
    rgba(28, 80, 129, 1),
    transparent
  );
}

.home-welcome-message {
  font-size: 5em;
  font-weight: bold;
  line-height: 1;
  filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 1));
}

.sale-welcome-message {
  font-size: var(--primary-font);
  font-weight: bold;
  line-height: 1;
  filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 1));
  text-align: left;
}

.home-welcome-sub-message {
  font-size: 1.5em;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.sale-welcome-sub-message {
  position: relative;
  font-size: var(--special-font);
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: left;
  filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 1));
  z-index: 5;
}

.home-welcome-border {
  width: 100%;
  text-align: center;
}

.front-land-pic {
  position: absolute;
  left: 0;
  object-fit: cover;
  bottom: 0;
  z-index: 3;
}

.back-land-pic {
  position: absolute;
  left: 0;
  object-fit: cover;
  bottom: 0;
  z-index: -1;
}

.sales-land-pic {
  position: absolute;
  left: 0;
  object-fit: cover;
  bottom: 0;
  z-index: 0;
}

.team-land-pic {
  position: absolute;
  left: 0;
  object-fit: cover;
  bottom: 0;
  z-index: -1;
  opacity: 85%;
}

/*------------------------------------------------------------------*/

.we-do-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.we-do {
  width: 10rem;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.we-logo {
  position: absolute;
  margin-top: -9.5rem;
  font-size: var(--primary-font) !important;
}

.we-logo-first {
  color: rgb(var(--primary-secon));
  filter: drop-shadow(0px 0px 5px rgb(var(--primary-secon)));
}

.we-logo-second {
  color: rgb(var(--secondary-secon));
  filter: drop-shadow(0px 0px 5px rgb(var(--secondary-secon)));
}

.we-logo-third {
  color: rgb(var(--tertiary-secon));
  filter: drop-shadow(0px 0px 5px rgb(var(--tertiary-secon)));
}

.we-logo-fourth {
  color: rgb(var(--quaternary-secon));
  filter: drop-shadow(0px 0px 5px rgb(var(--quaternary-secon)));
}

.we-logo-fifth {
  color: rgb(var(--quinary-secon));
  filter: drop-shadow(0px 0px 5px rgb(var(--quinary-secon)));
}

.we-do:first-child {
  background-color: rgb(182, 67, 174, 0.5);
  border: 3px solid;
  border-image: -webkit-linear-gradient(
      45deg,
      transparent,
      rgb(var(--primary-secon)),
      rgb(var(--primary-secon)),
      transparent
    )
    1;
  margin-top: -105px;
}

.we-do:nth-child(2) {
  background-color: rgb(176, 117, 248, 0.5);
  border: 3px solid;
  border-image: -webkit-linear-gradient(
      45deg,
      transparent,
      rgb(var(--secondary-secon)),
      rgb(var(--secondary-secon)),
      transparent
    )
    1;
  margin-top: 155px;
}

.we-do:nth-child(3) {
  background-color: rgb(123, 143, 252, 0.5);
  border: 3px solid;
  border-image: -webkit-linear-gradient(
      45deg,
      transparent,
      rgb(var(--tertiary-secon)),
      rgb(var(--tertiary-secon)),
      transparent
    )
    1;
  margin-top: -105px;
}

.we-do:nth-child(4) {
  background-color: rgb(92, 194, 228, 0.5);
  border: 3px solid;
  border-image: -webkit-linear-gradient(
      45deg,
      transparent,
      rgb(var(--quaternary-secon)),
      rgb(var(--quaternary-secon)),
      transparent
    )
    1;
  margin-top: 155px;
}

.we-do:nth-child(5) {
  background-color: rgb(110, 240, 188, 0.5);
  border: 3px solid;
  border-image: -webkit-linear-gradient(
      45deg,
      transparent,
      rgb(var(--quinary-secon)),
      rgb(var(--quinary-secon)),
      transparent
    )
    1;
  margin-top: -105px;
}

.we-do-title {
  font-size: var(--quaternary-font);
  filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 1));
  text-align: center;
}

/*-----------------------------------------------------------------*/

.team-container {
  /* background: radial-gradient(
    circle at center 90%,
    transparent 2.5%,
    rgb(9, 10, 29)
  );
  background-color: #06080b;
  background-position: center;
  background-size: cover; */
  position: relative;
  z-index: 3;
}

.team-container::before {
  content: "";
  position: absolute;
  top: 0;
  margin-top: -8rem;
  width: 100%;
  height: 300px;
  background: linear-gradient(
    to top,
    transparent,
    rgba(5, 5, 31, 1),
    rgba(5, 5, 31, 1),
    transparent
  );
}

.contacts-container {
  padding: 1rem;
  backdrop-filter: blur(10px) saturate(180%);
  -webkit-backdrop-filter: blur(10px) saturate(180%);
  width: 18.5%;
  transition: 0.5s linear;
}

.contact-mug {
  -webkit-clip-path: polygon(25% 0, 100% 0, 100% 75%, 75% 100%, 0 100%, 0% 25%);
  clip-path: polygon(25% 0, 100% 0, 100% 75%, 75% 100%, 0 100%, 0% 25%);
  transform: scale(1.1);
  transition: 0.5s linear;
}

.contacts-container:hover .contact-mug {
  animation: squid 3s infinite;
  -webkit-clip-path: polygon(0% 0, 100% 0, 100% 100%, 100% 100%, 0 100%, 0% 0%);
  clip-path: polygon(0% 0, 100% 0, 100% 100%, 100% 100%, 0 100%, 0% 0%);
}

@-webkit-keyframes squid {
  0% {
    transform: translateY(0) scale(1.05);
  }

  50% {
    transform: translateY(-3px) scale(1.05);
  }

  100% {
    transform: translateY(0) scale(1.05);
  }
}

@keyframes squid {
  0% {
    transform: translateY(0) scale(1.05);
  }

  50% {
    transform: translateY(-3px) scale(1.05);
  }

  100% {
    transform: translateY(0) scale(1.05);
  }
}

.contacts-container:nth-child(1) {
  border: 3px solid;
  border-image: -webkit-linear-gradient(
      45deg,
      transparent,
      rgb(var(--primary-secon)),
      rgb(var(--primary-secon)),
      transparent
    )
    1;

  background-color: rgb(182, 67, 174, 0.5);
  margin-bottom: 5rem;
  filter: drop-shadow(0px 0px 5px rgb(var(--primary-secon)));
}

.contacts-container:nth-child(1)::after {
  content: "❖";
  font-size: 4em;
  position: absolute;
  color: rgb(var(--primary-secon));
  top: -3.25rem;
  text-align: center;
  width: 90%;
  filter: drop-shadow(0px 0px 15px rgb(var(--primary-secon)));
}

.contacts-container:nth-child(2) {
  border: 3px solid;
  border-image: -webkit-linear-gradient(
      45deg,
      transparent,
      rgb(var(--secondary-secon)),
      rgb(var(--secondary-secon)),
      transparent
    )
    1;

  background-color: rgb(176, 117, 248, 0.5);
  margin-top: 5rem;
  filter: drop-shadow(0px 0px 5px rgb(var(--secondary-secon)));
}

.contacts-container:nth-child(2)::after {
  content: "❖";
  font-size: 4em;
  position: absolute;
  color: rgb(var(--secondary-secon));
  top: -3.25rem;
  text-align: center;
  width: 90%;
  filter: drop-shadow(0px 0px 15px rgb(var(--secondary-secon)));
}

.contacts-container:nth-child(3) {
  border: 3px solid;
  border-image: -webkit-linear-gradient(
      45deg,
      transparent,
      rgb(var(--tertiary-secon)),
      rgb(var(--tertiary-secon)),
      transparent
    )
    1;

  background-color: rgb(123, 143, 252, 0.5);
  margin-bottom: 5rem;
  filter: drop-shadow(0px 0px 5px rgb(var(--tertiary-secon)));
}

.contacts-container:nth-child(3)::after {
  content: "❖";
  font-size: 4em;
  position: absolute;
  color: rgb(var(--tertiary-secon));
  top: -3.25rem;
  text-align: center;
  width: 90%;
  filter: drop-shadow(0px 0px 15px rgb(var(--tertiary-secon)));
}

.contacts-container:nth-child(4) {
  border: 3px solid;
  border-image: -webkit-linear-gradient(
      45deg,
      transparent,
      rgb(var(--quaternary-secon)),
      rgb(var(--quaternary-secon)),
      transparent
    )
    1;

  background-color: rgb(92, 194, 228, 0.5);
  margin-top: 5rem;
  filter: drop-shadow(0px 0px 5px rgb(var(--quaternary-secon)));
}

.contacts-container:nth-child(4)::after {
  content: "❖";
  font-size: 4em;
  position: absolute;
  color: rgb(var(--quaternary-secon));
  top: -3.25rem;
  text-align: center;
  width: 90%;
  filter: drop-shadow(0px 0px 15px rgb(var(--quaternary-secon)));
}

.contacts-container:nth-child(5) {
  border: 3px solid;
  border-image: -webkit-linear-gradient(
      45deg,
      transparent,
      rgb(var(--quinary-secon)),
      rgb(var(--quinary-secon)),
      transparent
    )
    1;

  background-color: rgb(110, 240, 188, 0.5);
  margin-bottom: 5rem;
  filter: drop-shadow(0px 0px 5px rgb(var(--quinary-secon)));
}

.contacts-container:nth-child(5)::after {
  content: "❖";
  font-size: 4em;
  position: absolute;
  color: rgb(var(--quinary-secon));
  top: -3.25rem;
  text-align: center;
  width: 90%;
  filter: drop-shadow(0px 0px 15px rgb(var(--quinary-secon)));
}

.details-bg {
  backdrop-filter: blur(10px) saturate(180%);
  -webkit-backdrop-filter: blur(10px) saturate(180%);
  background-color: rgb(13, 17, 23, 0.95);
  min-height: 10rem;
  padding-top: none;
  padding: 0.5rem;
  margin-left: -1rem;
  margin-right: -1rem;
  margin-top: 1rem;
  margin-bottom: -1rem;
  -webkit-clip-path: polygon(75% 0%, 100% 25%, 100% 100%, 0 100%, 0 0);
  clip-path: polygon(75% 0%, 100% 25%, 100% 100%, 0 100%, 0 0);
  transition: 0.5s linear;
}

.contacts-container:hover .details-bg {
  -webkit-clip-path: polygon(100% 0%, 100% 100%, 100% 100%, 0 100%, 0 0);
  clip-path: polygon(100% 0%, 100% 100%, 100% 100%, 0 100%, 0 0);
}

ul {
  list-style-type: none;
}

li:before {
  content: "❖";
  margin-right: 0.5rem;
}

.squid-list:before {
  color: rgb(var(--primary));
}

.valor-list:before {
  color: rgb(var(--secondary));
}

.seqsee-list:before {
  color: rgb(var(--tertiary));
}

.jekz-list:before {
  color: rgb(var(--quaternary));
}

.ercknard-list:before {
  color: rgb(var(--quinary));
}

li {
  margin-left: 2rem;
}

.contacts-content {
  display: flex;
  margin-top: 3rem;
  margin-bottom: 3rem;
  justify-content: space-around;
}

.contact-name {
  font-size: 2em;
  margin-left: 0.5rem;
}

.contact-name-1 {
  font-size: 1.75em;
  margin-left: 0.5rem;
}

.squid-name {
  border-bottom: 1px solid;
  border-image: -webkit-linear-gradient(
      180deg,
      transparent,
      rgb(var(--primary-secon)),
      transparent
    )
    1;
  padding-bottom: 0.25rem;
  margin-bottom: 0.5rem;
}

.seq-name {
  border-bottom: 1px solid;
  border-image: -webkit-linear-gradient(
      180deg,
      transparent,
      rgb(var(--tertiary-secon)),
      transparent
    )
    1;
  padding-bottom: 0.25rem;
  margin-bottom: 0.5rem;
}

.valor-name {
  border-bottom: 1px solid;
  border-image: -webkit-linear-gradient(
      180deg,
      transparent,
      rgb(var(--secondary-secon)),
      transparent
    )
    1;
  padding-bottom: 0.25rem;
  margin-bottom: 0.5rem;
}

.jekz-name {
  border-bottom: 1px solid;
  border-image: -webkit-linear-gradient(
      180deg,
      transparent,
      rgb(var(--quaternary-secon)),
      transparent
    )
    1;
  padding-bottom: 0.25rem;
  margin-bottom: 0.5rem;
}

.ercknard-name {
  border-bottom: 1px solid;
  border-image: -webkit-linear-gradient(
      180deg,
      transparent,
      rgb(var(--quinary-secon)),
      transparent
    )
    1;
  padding-bottom: 0.25rem;
  margin-bottom: 0.5rem;
}

.contact-description {
  font-size: 1.25em;
}

.contact-button {
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  border-radius: 5rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  margin-left: auto;
  margin-right: auto;
}

.contact-button:hover {
  transform: translateY(-3px);
  filter: saturate(150%);
}

.contact-button:active {
  transform: translateY(0px);
  filter: saturate(150%);
}

.squid {
  /* background: -webkit-linear-gradient(
    180deg,
    rgb(80, 163, 254),
    rgb(var(--primary))
  ); */
  background: rgb(var(--primary));
}

.valor {
  /* background: -webkit-linear-gradient(
    180deg,
    rgb(80, 163, 254),
    rgb(var(--secondary))
  ); */
  background: rgb(var(--secondary));
}

.seqsee {
  /* background: -webkit-linear-gradient(
    180deg,
    rgb(80, 163, 254),
    rgb(var(--tertiary))
  ); */
  background: rgb(var(--tertiary));
}

.jekz {
  /* background: -webkit-linear-gradient(
    180deg,
    rgb(80, 163, 254),
    rgb(var(--quaternary))
  ); */
  background: rgb(var(--quaternary));
}

.ercknard {
  /* background: -webkit-linear-gradient(
    180deg,
    rgb(80, 163, 254),
    rgb(var(--quinary))
  ); */
  background: rgb(var(--quinary));
}

.section-title {
  font-size: 3em;
  padding-bottom: 1rem;
  text-align: center;
  font-weight: bolder;
  filter: drop-shadow(3px 3px 1px rgba(255, 255, 255, 0.25));
  line-height: 2rem;
  margin-bottom: 3rem;
}

.section-title-logo {
  font-size: var(--primary-font);
  text-align: center;
  font-weight: bolder;
  filter: drop-shadow(3px 3px 1px rgba(255, 255, 255, 0.25));
}

.section-desc {
  font-size: 1.5em;
  text-align: left;
}

.highlighted {
  font-size: 1.75em;
}
