@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --prim-color: 80, 163, 254;
  --secon-color: 179, 116, 248;
  --ter-color: 114, 250, 179;
  --accent-color: 44, 104, 208;
  --primary: 147, 56, 150;
  --secondary: 91, 64, 143;
  --tertiary: 65, 76, 148;
  --quaternary: 49, 101, 136;
  --quinary: 58, 125, 113;
  --primary-secon: 182, 67, 174;
  --secondary-secon: 176, 117, 248;
  --tertiary-secon: 123, 143, 252;
  --quaternary-secon: 92, 194, 228;
  --quinary-secon: 110, 240, 188;

  --primary-font: 4em;
  --secondary-font: 3em;
  --tertiary-font: 2em;
  --special-font: 1.5em;
  --quaternary-font: 1.25em;
  --quinary-font: 1em;
}

/* @media (max-width: 1920px) {
  :root {
    --primary-font: 2em;
    --secondary-font: 1.5em;
    --tertiary-font: 1em;
    --special-font: 0.75em;
    --quaternary-font: 0.625em;
    --quinary-font: 0.5em;
  }
} */

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: white;
  background: radial-gradient(
    circle,
    rgba(2, 0, 36, 1) 0%,
    rgba(13, 17, 23, 1) 100%
  );
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 10px;
  border-radius: 100px;
}

/* Track */
body::-webkit-scrollbar-track {
  position: absolute;
  background: #09091d;
}

/* Handle */
body::-webkit-scrollbar-thumb {
  background: rgb(var(--tertiary-secon));
  border-radius: 100px;
}

main {
  font-family: "Ysabeau", sans-serif !important;
}

#particles-js {
  position: absolute;
  width: 100vw;
  height: 100vh;
  color: #fff;
}

@media (max-width: 768px) {
  #particles-js {
    display: none;
  }
}

li {
  font-size: var(--quinary-font);
}

.to-wrap {
  flex-wrap: wrap;
}

.to-glow {
  filter: drop-shadow(0 0 30px white);
}

.to-clouds {
  opacity: 75% !important;
}

.to-left {
  text-align: left !important;
  width: 100%;
}

.to-back {
  width: 362px;
  background-color: rgb(123, 143, 252, 0.5);
  border: 3px solid;
  border-image: -webkit-linear-gradient(
      45deg,
      transparent,
      rgb(var(--tertiary-secon)),
      transparent
    )
    1;
  /* filter: drop-shadow(3px 3px 1px rgb(var(--tertiary-secon))); */
}

.to-back:after {
  content: "❖";
  font-size: var(--tertiary-font);
  position: absolute;
  color: rgb(var(--tertiary-secon));
  text-align: center;
  filter: drop-shadow(0px 0px 15px rgb(var(--tertiary-secon)));
}

.to-back:before {
  content: "❖";
  font-size: var(--secondary-font);
  position: absolute;
  color: rgb(var(--tertiary-secon));
  text-align: center;
  filter: drop-shadow(0px 0px 3px black);
  margin-top: -1rem;
  z-index: 10;
}

.filter {
  filter: none !important;
}

.drop-shadow-md {
  --tw-drop-shadow: none !important;
}

.to-width {
  max-width: 55vw;
}

@media screen and (max-width: 1920px) {
  .to-width {
    max-width: 95vw;
  }
}

.to-height {
  min-height: 100vh;
}

.to-center {
  margin-left: auto;
  margin-right: auto;
}

.to-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.to-flex-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
}

.to-bold {
  font-weight: bolder !important;
}

.to-column {
  flex-direction: column;
  justify-content: center;
  align-items: center !important;
}

.to-align {
  align-items: center;
}

.to-flex-evenly {
  justify-content: space-evenly !important;
}

.color-effect {
  background: -webkit-linear-gradient(
    180deg,
    rgb(var(--quinary-secon)),
    rgb(var(--quaternary-secon)),
    rgb(var(--tertiary-secon)),
    rgb(var(--secondary-secon)),
    rgb(var(--primary-secon))
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.to-primary {
  background-color: rgb(var(--primary-secon)) !important;
}

.to-secondary {
  background-color: rgb(var(--secondary-secon)) !important;
}

.to-tertiary {
  background-color: rgb(var(--tertiary-secon)) !important;
}

.to-quaternary {
  background-color: rgb(var(--quaternary-secon)) !important;
}

.to-quinary {
  background-color: rgb(var(--quinary-secon)) !important;
}

.reflect {
  -webkit-box-reflect: below 0px
    linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25));
}

.reflect-nav {
  -webkit-box-reflect: below 0px
    linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25));
  transition: 1s linear;
}

.reflect-nav.scrolled {
  -webkit-box-reflect: unset !important;
}

.reflect-v2 {
  -webkit-box-reflect: below -175px linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
}

.text-motion {
  background: -webkit-linear-gradient(
    45deg,
    rgba(182, 67, 174, 0.15),
    rgba(255, 255, 255),
    rgba(182, 67, 174, 0.15)
  );
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center;
  background-color: rgb(44, 104, 208);
  animation: text-motion 5s infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@keyframes text-motion {
  0% {
    background-position: -500%;
  }

  100% {
    background-position: 500%;
  }
}

section {
  min-height: 100vh;
}

/*---------------------------------------------------------------*/

.nav-main {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 1), transparent);
  position: fixed;
  width: 100%;
  z-index: 10;
  transition: 0.5s;
}

/* .nav-main.scrolled {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5));
  position: fixed;
  width: 100%;
  z-index: 10;
} */

.ct-logo {
  color: rgb(var(--quaternary-secon));
  font-size: 3.5rem;
  font-weight: 100;
}

.home-button {
  display: flex;
  background-color: rgb(var(--accent-color));
  justify-content: center;
  padding: 0.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  max-width: 10rem;
  border-radius: 5rem;
}

.home-button:active {
  transform: translateY(-3px);
  filter: saturate(150%);
}

.project-button {
  position: relative;
  display: flex;
  background-color: rgb(var(--accent-color));
  justify-content: center;
  padding: 0.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  max-width: 10rem;
  border-radius: 5rem;
  margin-top: 1rem;
  z-index: 10 !important;
}

.project-button:active {
  transform: translateY(-3px);
  filter: saturate(150%);
}

.home-button-txt {
  font-weight: 500;
  align-items: center;
}

.home-specs {
  position: absolute;
  display: flex;
  align-items: center;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
  margin-top: -10rem;
}

/*---------------------------------------------------------------*/

.landing-container {
  background: radial-gradient(
    circle at bottom,
    transparent,
    rgb(9, 10, 29) 100%
  );

  /* url(/images/bbblurry.svg), url(/images/50961571.png); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  overflow-y: hidden;
}

.sales-container {
  position: relative;
  z-index: 3;
}

.sales-container::before {
  content: "";
  position: absolute;
  top: 0;
  margin-top: -8rem;
  width: 100%;
  height: 300px;
  background: linear-gradient(
    to top,
    transparent,
    rgba(7, 19, 55, 1),
    rgba(28, 80, 129, 1),
    transparent
  );
}

.support-container {
  position: relative;
  z-index: 3;
}

.support-container::before {
  content: "";
  position: absolute;
  top: 0;
  margin-top: -8rem;
  width: 100%;
  height: 300px;
  background: linear-gradient(
    to top,
    transparent,
    rgba(5, 5, 31, 1),
    rgba(5, 5, 31, 1),
    transparent
  );
}

.cryptechtest-container {
  background: radial-gradient(
      circle at right 50%,
      transparent,
      rgb(9, 10, 29) 75%
    ),
    url(/images/BG-B.webp);
  background-position: center;
  background-size: cover;
  position: relative;
  margin-bottom: 25rem;
  z-index: 3;
}

.cryptechtest-container::before {
  content: "";
  position: absolute;
  top: 0;
  margin-top: -8rem;
  width: 100%;
  height: 300px;
  background: linear-gradient(
    to top,
    transparent,
    rgb(9, 10, 29),
    rgb(31, 19, 62),
    transparent
  );
  z-index: 3;
}

.cryptechtest-container::after {
  content: "";
  position: absolute;
  bottom: -8rem;
  width: 100%;
  height: 300px;
  background: linear-gradient(
    to top,
    transparent,
    rgb(9, 10, 29),
    rgb(9, 10, 29),
    transparent
  );
  z-index: 3;
}

.metrix-container {
  position: relative;
  z-index: 3;
}

.metrix-container::before {
  content: "";
  position: absolute;
  top: 0;
  margin-top: -8rem;
  width: 100%;
  height: 300px;
  background: linear-gradient(
    to top,
    transparent,
    rgb(31, 19, 62),
    transparent
  );
  z-index: 3;
}

.home-welcome-message {
  font-size: 5em;
  font-weight: bold;
  line-height: 1;
  filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 1));
  transition: 0.5s linear;
}

.home-welcome-message.scrolled {
  font-size: 4em;
  font-weight: bold;
  line-height: 1;
  filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 1));
  color: rgb(var(--tertiary-secon)) !important;
}

.sale-welcome-message {
  font-size: var(--primary-font);
  font-weight: bold;
  line-height: 1;
  filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 1));
  text-align: left;
}

.home-welcome-sub-message {
  font-size: 1.5em;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.sale-welcome-sub-message {
  position: relative;
  font-size: var(--special-font);
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: left;
  filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 1));
  z-index: 5;
}

.home-welcome-border {
  width: 100%;
  text-align: center;
}

.front-land-pic {
  position: absolute;
  left: 0;
  object-fit: cover;
  bottom: 0;
  z-index: 3;
}

.mid-land-pic {
  position: absolute;
  left: 0;
  object-fit: cover;
  bottom: 5rem;
  z-index: 1;
}

.back-land-pic {
  position: absolute;
  left: 0;
  object-fit: cover;
  bottom: 0;
  z-index: 1;
  opacity: 50%;
}

.sales-land-pic {
  position: absolute;
  left: 0;
  object-fit: cover;
  bottom: 0;
  z-index: 0;
}

.team-land-pic {
  position: absolute;
  left: 0;
  object-fit: cover;
  bottom: 0;
  z-index: -1;
  opacity: 85%;
}

/*------------------------------------------------------------------*/

.we-do-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.we-do {
  width: 10rem;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.we-logo {
  position: absolute;
  margin-top: -9.5rem;
  font-size: var(--primary-font) !important;
}

.we-logo-first {
  color: rgb(var(--primary-secon));
  filter: drop-shadow(0px 0px 5px rgb(var(--primary-secon)));
}

.we-logo-second {
  color: rgb(var(--secondary-secon));
  filter: drop-shadow(0px 0px 5px rgb(var(--secondary-secon)));
}

.we-logo-third {
  color: rgb(var(--tertiary-secon));
  filter: drop-shadow(0px 0px 5px rgb(var(--tertiary-secon)));
}

.we-logo-fourth {
  color: rgb(var(--quaternary-secon));
  filter: drop-shadow(0px 0px 5px rgb(var(--quaternary-secon)));
}

.we-logo-fifth {
  color: rgb(var(--quinary-secon));
  filter: drop-shadow(0px 0px 5px rgb(var(--quinary-secon)));
}

.we-do:first-child {
  background-color: rgb(182, 67, 174, 0.5);
  border: 3px solid;
  border-image: -webkit-linear-gradient(
      45deg,
      transparent,
      rgb(var(--primary-secon)),
      rgb(var(--primary-secon)),
      transparent
    )
    1;
  margin-top: -105px;
}

.we-do:nth-child(2) {
  background-color: rgb(176, 117, 248, 0.5);
  border: 3px solid;
  border-image: -webkit-linear-gradient(
      45deg,
      transparent,
      rgb(var(--secondary-secon)),
      rgb(var(--secondary-secon)),
      transparent
    )
    1;
  margin-top: 155px;
}

.we-do:nth-child(3) {
  background-color: rgb(123, 143, 252, 0.5);
  border: 3px solid;
  border-image: -webkit-linear-gradient(
      45deg,
      transparent,
      rgb(var(--tertiary-secon)),
      rgb(var(--tertiary-secon)),
      transparent
    )
    1;
  margin-top: -105px;
}

.we-do:nth-child(4) {
  background-color: rgb(92, 194, 228, 0.5);
  border: 3px solid;
  border-image: -webkit-linear-gradient(
      45deg,
      transparent,
      rgb(var(--quaternary-secon)),
      rgb(var(--quaternary-secon)),
      transparent
    )
    1;
  margin-top: 155px;
}

.we-do:nth-child(5) {
  background-color: rgb(110, 240, 188, 0.5);
  border: 3px solid;
  border-image: -webkit-linear-gradient(
      45deg,
      transparent,
      rgb(var(--quinary-secon)),
      rgb(var(--quinary-secon)),
      transparent
    )
    1;
  margin-top: -105px;
}

.we-do-title {
  font-size: var(--quaternary-font);
  filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 1));
  text-align: center;
}

/*-----------------------------------------------------------------*/

.team-container {
  /* background: radial-gradient(
    circle at center 90%,
    transparent 2.5%,
    rgb(9, 10, 29)
  );
  background-color: #06080b;
  background-position: center;
  background-size: cover; */
  position: relative;
  z-index: 3;
}

.team-container::before {
  content: "";
  position: absolute;
  top: 0;
  margin-top: -8rem;
  width: 100%;
  height: 300px;
  background: linear-gradient(
    to top,
    transparent,
    rgba(5, 5, 31, 1),
    rgba(5, 5, 31, 1),
    transparent
  );
}

.contacts-container {
  padding: 1rem;
  backdrop-filter: blur(10px) saturate(180%);
  -webkit-backdrop-filter: blur(10px) saturate(180%);
  min-width: 18.5%;
  max-width: 20%;
  transition: 0.5s linear;
}

.contact-mug {
  -webkit-clip-path: polygon(25% 0, 100% 0, 100% 75%, 75% 100%, 0 100%, 0% 25%);
  clip-path: polygon(25% 0, 100% 0, 100% 75%, 75% 100%, 0 100%, 0% 25%);
  transform: scale(1.1);
  transition: 0.5s linear;
}

.contacts-container:hover .contact-mug {
  animation: squid 3s infinite;
  -webkit-clip-path: polygon(0% 0, 100% 0, 100% 100%, 100% 100%, 0 100%, 0% 0%);
  clip-path: polygon(0% 0, 100% 0, 100% 100%, 100% 100%, 0 100%, 0% 0%);
}

@-webkit-keyframes squid {
  0% {
    transform: translateY(0) scale(1.05);
  }

  50% {
    transform: translateY(-3px) scale(1.05);
  }

  100% {
    transform: translateY(0) scale(1.05);
  }
}

@keyframes squid {
  0% {
    transform: translateY(0) scale(1.05);
  }

  50% {
    transform: translateY(-3px) scale(1.05);
  }

  100% {
    transform: translateY(0) scale(1.05);
  }
}

.contacts-container:nth-child(1) {
  border: 3px solid;
  border-image: -webkit-linear-gradient(
      45deg,
      transparent,
      rgb(var(--primary-secon)),
      rgb(var(--primary-secon)),
      transparent
    )
    1;

  background-color: rgb(182, 67, 174, 0.5);
  margin-bottom: 5rem;
  filter: drop-shadow(0px 0px 5px rgb(var(--primary-secon)));
}

.contacts-container:nth-child(1)::after {
  content: "❖";
  font-size: 4em;
  position: absolute;
  color: rgb(var(--primary-secon));
  top: -3.25rem;
  text-align: center;
  width: 90%;
  filter: drop-shadow(0px 0px 15px rgb(var(--primary-secon)));
}

.contacts-container:nth-child(2) {
  border: 3px solid;
  border-image: -webkit-linear-gradient(
      45deg,
      transparent,
      rgb(var(--secondary-secon)),
      rgb(var(--secondary-secon)),
      transparent
    )
    1;

  background-color: rgb(176, 117, 248, 0.5);
  margin-top: 5rem;
  filter: drop-shadow(0px 0px 5px rgb(var(--secondary-secon)));
}

.contacts-container:nth-child(2)::after {
  content: "❖";
  font-size: 4em;
  position: absolute;
  color: rgb(var(--secondary-secon));
  top: -3.25rem;
  text-align: center;
  width: 90%;
  filter: drop-shadow(0px 0px 15px rgb(var(--secondary-secon)));
}

.contacts-container:nth-child(3) {
  border: 3px solid;
  border-image: -webkit-linear-gradient(
      45deg,
      transparent,
      rgb(var(--tertiary-secon)),
      rgb(var(--tertiary-secon)),
      transparent
    )
    1;

  background-color: rgb(123, 143, 252, 0.5);
  margin-bottom: 5rem;
  filter: drop-shadow(0px 0px 5px rgb(var(--tertiary-secon)));
}

.contacts-container:nth-child(3)::after {
  content: "❖";
  font-size: 4em;
  position: absolute;
  color: rgb(var(--tertiary-secon));
  top: -3.25rem;
  text-align: center;
  width: 90%;
  filter: drop-shadow(0px 0px 15px rgb(var(--tertiary-secon)));
}

.contacts-container:nth-child(4) {
  border: 3px solid;
  border-image: -webkit-linear-gradient(
      45deg,
      transparent,
      rgb(var(--quaternary-secon)),
      rgb(var(--quaternary-secon)),
      transparent
    )
    1;

  background-color: rgb(92, 194, 228, 0.5);
  margin-top: 5rem;
  filter: drop-shadow(0px 0px 5px rgb(var(--quaternary-secon)));
}

.contacts-container:nth-child(4)::after {
  content: "❖";
  font-size: 4em;
  position: absolute;
  color: rgb(var(--quaternary-secon));
  top: -3.25rem;
  text-align: center;
  width: 90%;
  filter: drop-shadow(0px 0px 15px rgb(var(--quaternary-secon)));
}

.contacts-container:nth-child(5) {
  border: 3px solid;
  border-image: -webkit-linear-gradient(
      45deg,
      transparent,
      rgb(var(--quinary-secon)),
      rgb(var(--quinary-secon)),
      transparent
    )
    1;

  background-color: rgb(110, 240, 188, 0.5);
  margin-bottom: 5rem;
  filter: drop-shadow(0px 0px 5px rgb(var(--quinary-secon)));
  visibility: hidden;
  display: none;
}

.contacts-container:nth-child(5)::after {
  content: "❖";
  font-size: 4em;
  position: absolute;
  color: rgb(var(--quinary-secon));
  top: -3.25rem;
  text-align: center;
  width: 90%;
  filter: drop-shadow(0px 0px 15px rgb(var(--quinary-secon)));
}

.details-bg {
  backdrop-filter: blur(10px) saturate(180%);
  -webkit-backdrop-filter: blur(10px) saturate(180%);
  background-color: rgb(13, 17, 23, 0.95);
  min-height: 10rem;
  padding-top: none;
  padding: 0.5rem;
  margin-left: -1rem;
  margin-right: -1rem;
  margin-top: 1rem;
  margin-bottom: -1rem;
  -webkit-clip-path: polygon(75% 0%, 100% 25%, 100% 100%, 0 100%, 0 0);
  clip-path: polygon(75% 0%, 100% 25%, 100% 100%, 0 100%, 0 0);
  transition: 0.5s linear;
}

.contacts-container:hover .details-bg {
  -webkit-clip-path: polygon(100% 0%, 100% 100%, 100% 100%, 0 100%, 0 0);
  clip-path: polygon(100% 0%, 100% 100%, 100% 100%, 0 100%, 0 0);
}

ul {
  list-style-type: none;
}

li:before {
  content: "❖";
  margin-right: 0.5rem;
}

.squid-list:before {
  color: rgb(var(--primary));
}

.valor-list:before {
  color: rgb(var(--secondary));
}

.seqsee-list:before {
  color: rgb(var(--tertiary));
}

.jekz-list:before {
  color: rgb(var(--quaternary));
}

.ercknard-list:before {
  color: rgb(var(--quinary));
}

li {
  margin-left: 2rem;
}

.contacts-content {
  display: flex;
  margin-top: 3rem;
  margin-bottom: 3rem;
  justify-content: space-around;
}

.contact-name {
  font-size: 2em;
  margin-left: 0.5rem;
}

.contact-name-1 {
  font-size: var(--special-font);
  margin-left: 0.5rem;
}

.squid-name {
  border-bottom: 1px solid;
  border-image: -webkit-linear-gradient(
      180deg,
      transparent,
      rgb(var(--primary-secon)),
      transparent
    )
    1;
  padding-bottom: 0.25rem;
  margin-bottom: 0.5rem;
}

.seq-name {
  border-bottom: 1px solid;
  border-image: -webkit-linear-gradient(
      180deg,
      transparent,
      rgb(var(--tertiary-secon)),
      transparent
    )
    1;
  padding-bottom: 0.25rem;
  margin-bottom: 0.5rem;
}

.valor-name {
  border-bottom: 1px solid;
  border-image: -webkit-linear-gradient(
      180deg,
      transparent,
      rgb(var(--secondary-secon)),
      transparent
    )
    1;
  padding-bottom: 0.25rem;
  margin-bottom: 0.5rem;
}

.jekz-name {
  border-bottom: 1px solid;
  border-image: -webkit-linear-gradient(
      180deg,
      transparent,
      rgb(var(--quaternary-secon)),
      transparent
    )
    1;
  padding-bottom: 0.25rem;
  margin-bottom: 0.5rem;
}

.ercknard-name {
  border-bottom: 1px solid;
  border-image: -webkit-linear-gradient(
      180deg,
      transparent,
      rgb(var(--quinary-secon)),
      transparent
    )
    1;
  padding-bottom: 0.25rem;
  margin-bottom: 0.5rem;
}

.contact-description {
  font-size: 1.25em;
}

.contact-button {
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  border-radius: 5rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.to-gap {
  gap: 5px;
}

.contact-button:hover {
  transform: translateY(-3px);
  filter: saturate(150%);
}

.contact-button:active {
  transform: translateY(0px);
  filter: saturate(150%);
}

.squid {
  /* background: -webkit-linear-gradient(
    180deg,
    rgb(80, 163, 254),
    rgb(var(--primary))
  ); */
  background: rgb(var(--primary));
}

.valor {
  /* background: -webkit-linear-gradient(
    180deg,
    rgb(80, 163, 254),
    rgb(var(--secondary))
  ); */
  background: rgb(var(--secondary));
}

.seqsee {
  /* background: -webkit-linear-gradient(
    180deg,
    rgb(80, 163, 254),
    rgb(var(--tertiary))
  ); */
  background: rgb(var(--tertiary));
}

.jekz {
  /* background: -webkit-linear-gradient(
    180deg,
    rgb(80, 163, 254),
    rgb(var(--quaternary))
  ); */
  background: rgb(var(--quaternary));
}

.ercknard {
  /* background: -webkit-linear-gradient(
    180deg,
    rgb(80, 163, 254),
    rgb(var(--quinary))
  ); */
  background: rgb(var(--quinary));
}

.section-title {
  font-size: 3em;
  padding-bottom: 1rem;
  text-align: center;
  font-weight: bolder;
  filter: drop-shadow(3px 3px 1px rgba(255, 255, 255, 0.25));
  line-height: 2rem;
  margin-bottom: 1rem;
}

.section-title-logo {
  font-size: var(--primary-font);
  text-align: center;
  font-weight: bolder;
  filter: drop-shadow(3px 3px 1px rgba(255, 255, 255, 0.25));
}

.section-desc {
  font-size: 1.5em;
  text-align: left;
}

.highlighted {
  font-size: 1.75em;
}

/*------------------------------------------------------------------*/

.footer ul li::before {
  content: none;
}

.footer ul li,
.footer p {
  position: relative;
  z-index: 10;
}

.footer {
  position: relative;
  width: 100%;
  background: #3586ff;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 3;
}

.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
  list-style: none;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 1));
}

.menu__link:hover {
  opacity: 1;
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 1));
}

.wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(/images/waves.png);
  background-size: 1000px 100px;
}

.wave#wave1 {
  z-index: 0;
  opacity: 1;
  bottom: 0;
  animation: animateWaves 4s linear infinite;
}

.wave#wave2 {
  z-index: 0;
  opacity: 0.5;
  bottom: 10px;
  animation: animate 4s linear infinite !important;
}

.wave#wave3 {
  z-index: 0;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
  z-index: 0;
  opacity: 0.7;
  bottom: 20px;
  animation: animate 3s linear infinite;
}

@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

@keyframes animate {
  0% {
    background-position-x: -1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

/*------------------------------------------------------------------*/

/* .ships {
  width: 50%;
  height: 50%;
} */

.carousel-container {
  margin-top: -5rem;
  height: 26rem;
  overflow: hidden;
  /* border: 3px solid;
  border-image: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--tertiary-secon)),
      transparent
    )
    1; */
}

.carousel {
  display: flex;
  width: 300%;
  animation: carousel 30s infinite linear;
  gap: 3rem;
}

.squid-anim {
  width: 362px;
  margin: 10px;
  /* -webkit-clip-path: polygon(10% 0, 100% 0, 100% 90%, 90% 100%, 0 100%, 0% 10%);
  clip-path: polygon(10% 0, 100% 0, 100% 90%, 90% 100%, 0 100%, 0% 10%); */
  filter: drop-shadow(0px 0px 3px black);
  border-left: none;
  border-right: none;
}

@keyframes carousel {
  0% {
    transform: translateX(0);
  }

  90% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0%);
  }
}

.project-title {
  text-align: left;
  padding-bottom: none;
  margin-bottom: unset !important;
}

.skew {
  transform: scale(0.65) !important;
  filter: drop-shadow(0px 0px 15px rgb(var(--primary-secon)));
}

.service-package-1 {
  padding: 1.5rem;
  padding-top: 2rem;
  border: 3px solid;
  border-image: -webkit-linear-gradient(
      180deg,
      rgb(var(--primary-secon)),
      rgb(var(--primary-secon))
    )
    1;
  width: 50%;
  background-color: rgba(var(--primary));
  filter: drop-shadow(0px 0px 5px rgb(var(--primary-secon)));
}

.service-package-1::after {
  content: "Package 1";
  position: absolute;
  font-size: var(--special-font);
  top: -1rem;
  background-color: #06080b;
  padding-left: 1rem;
  padding-right: 1rem;
  border: 1px solid;
  border-image: -webkit-linear-gradient(
      180deg,
      rgb(var(--primary-secon)),
      rgb(var(--primary-secon))
    )
    1;
}

.service-package-1::before {
  content: "❖";
  font-size: var(--secondary-font);
  position: absolute;
  top: -0.35rem;
  left: -1.5rem;
  color: rgb(var(--primary-secon));
  filter: drop-shadow(0px 0px 15px rgb(var(--primary-secon)));
  text-align: center;
  z-index: 2;
}

.service-package-sub {
  backdrop-filter: blur(10px) saturate(180%);
  -webkit-backdrop-filter: blur(10px) saturate(180%);
  background-color: rgb(13, 17, 23, 0.95);
  min-height: 10rem;
  padding-top: none;
  padding: 0.5rem;
  margin-left: -1.5rem;
  margin-right: -1.5rem;
  margin-bottom: -1.5rem;
  -webkit-clip-path: polygon(75% 0%, 100% 25%, 100% 100%, 0 100%, 0 0);
  clip-path: polygon(75% 0%, 100% 25%, 100% 100%, 0 100%, 0 0);
  transition: 0.5s linear;
}

.service-package-2 {
  padding: 1.5rem;
  padding-top: 2rem;
  border: 3px solid;
  border-image: -webkit-linear-gradient(
      180deg,
      rgb(var(--secondary-secon)),
      rgb(var(--secondary-secon))
    )
    1;
  width: 50%;
  background-color: rgba(var(--secondary));
  filter: drop-shadow(0px 0px 5px rgb(var(--secondary-secon)));
  margin-left: auto;
  margin-right: auto;
}

.service-package-2::after {
  content: "Package 2";
  position: absolute;
  font-size: var(--special-font);
  top: -1rem;
  background-color: #06080b;
  padding-left: 1rem;
  padding-right: 1rem;
  border: 1px solid;
  border-image: -webkit-linear-gradient(
      180deg,
      rgb(var(--secondary-secon)),
      rgb(var(--secondary-secon))
    )
    1;
}

.service-package-2::before {
  content: "❖";
  font-size: var(--secondary-font);
  position: absolute;
  top: -0.35rem;
  left: -1.5rem;
  color: rgb(var(--secondary-secon));
  filter: drop-shadow(0px 0px 15px rgb(var(--secondary-secon)));
  text-align: center;
  z-index: 2;
}

.service-package-3 {
  padding: 1.5rem;
  padding-top: 2rem;
  border: 3px solid;
  border-image: -webkit-linear-gradient(
      180deg,
      rgb(var(--tertiary-secon)),
      rgb(var(--tertiary-secon))
    )
    1;
  width: 50%;
  background-color: rgba(var(--tertiary));
  filter: drop-shadow(0px 0px 5px rgb(var(--tertiary-secon)));
}

.service-package-3::after {
  content: "Package 3";
  position: absolute;
  font-size: var(--special-font);
  top: -1rem;
  background-color: #06080b;
  padding-left: 1rem;
  padding-right: 1rem;
  border: 1px solid;
  border-image: -webkit-linear-gradient(
      180deg,
      rgb(var(--tertiary-secon)),
      rgb(var(--tertiary-secon))
    )
    1;
}

.service-package-3::before {
  content: "❖";
  font-size: var(--secondary-font);
  position: absolute;
  top: -0.35rem;
  left: -1.5rem;
  color: rgb(var(--tertiary-secon));
  filter: drop-shadow(0px 0px 15px rgb(var(--tertiary-secon)));
  z-index: 2;
}

.service-package-4 {
  padding: 1.5rem;
  padding-top: 2rem;
  border: 3px solid;
  border-image: -webkit-linear-gradient(
      180deg,
      rgb(var(--quaternary-secon)),
      rgb(var(--quaternary-secon))
    )
    1;
  width: 50%;
  background-color: rgba(var(--quaternary));
  filter: drop-shadow(0px 0px 5px rgb(var(--quaternary-secon)));
}

.service-package-4::before {
  content: "❖";
  font-size: var(--secondary-font);
  position: absolute;
  top: -0.35rem;
  left: -1.5rem;
  color: rgb(var(--quaternary-secon));
  filter: drop-shadow(0px 0px 15px rgb(var(--quaternary-secon)));
  z-index: 2;
}

/* .service-package-4::after {
  content: "Package 3";
  position: absolute;
  font-size: var(--special-font);
  top: -1rem;
  background-color: #06080b;
  padding-left: 1rem;
  padding-right: 1rem;
  border: 1px solid;
  border-image: -webkit-linear-gradient(
      180deg,
      rgb(var(--tertiary-secon)),
      rgb(var(--tertiary-secon))
    )
    1;
} */

.packages {
  position: relative;
  z-index: 4;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2.5rem;
}
